
<div *ngIf="gameFinish | async as gameIsFinish; else gameNotFinishYet">
  <div style="text-align:center;">
    <h3>PARTIE FINIE</h3>
  </div>
  {{ score }}
  <div style="text-align:center;">
    <br/>
    <input type="button" (click)="goBackMenu()" value="RETOUR AU MENU" />
  </div>
</div>

<ng-template #gameNotFinishYet>

<div *ngIf="gameStart | async as gameHaveStart; else elseBlock">
  <div *ngIf="firstTurn">
    <p>La partie a commencée</p>
  </div>
  <p><b>Tour numéro : {{ nombreTour }}</b></p>
  <p>{{ score }}</p><br/>
  <div style="text-align:center;">
    <input type="button" [disabled]="haveChoose" (click)="trahir()" value="TRAHIR" /> &nbsp;
    <input type="button" [disabled]="haveChoose" (click)="cooperer()" value="COOPERER" />
  </div>
  <br/>
  <hr/>
  <br/>
  <label for="strat-select">Pour quitter,veuillez choisir une stratégie: </label>
  <select [(ngModel)]="id_strategy" name="strat" id="strat-select">
      <option value="0">Cooperer</option>
      <option value="1">Trahir</option>
      <option value="2">Donnant donnant</option>
      <option value="3">Aléatoire</option>
      <option value="4">Donnant deux donnant aléatoire</option>
      <option value="5">Donnant deux donnant</option>
      <option value="6">Donnant donnant soupconneux</option>
      <option value="7">Pacificateur naif</option>
      <option value="8">Vrai pacificateur</option>
      <option value="9">Rancunier</option>
      <option value="10">Sondeur naif</option>
      <option value="11">Sondeur repentant</option>
      <option value="12">Vrai pacificateur</option>
      <option value="13">Adaptatif</option>
      <option value="14">Pavlov</option>
      <option value="15">Pavlov aleatoire</option>
      <option value="16">Graduel</option>
      <option value="17">Rancunier doux</option>
  </select>
  <br/>
  <br/>
  <div style="text-align:center;">
    <input type="button" (click)="leaveGame()" value="QUITTER LA PARTIE" />
  </div>
</div>

<ng-template #elseBlock>
  <p>En attente de joueurs ....</p>
</ng-template>


</ng-template>
