
<div *ngIf="gameFinish | async as gameIsFinish; else gameNotFinishYet">
  <div style="text-align:center;">
    <h3>PARTIE FINIE</h3>
  </div>
  {{ score }}
  <div style="text-align:center;">
    <br/>
    <input type="button" (click)="goBackMenu()" value="RETOUR AU MENU" />
  </div>
</div>

<ng-template #gameNotFinishYet>

<div *ngIf="gameStart | async as gameHaveStart; else elseBlock">
  <div *ngIf="firstTurn">
    <p>La partie a commencée</p>
  </div>
  <p><b>Tour numéro : {{ nombreTour }}</b></p>
  <p>{{ score }}</p><br/>
  <div style="text-align:center;">
    <input type="button" [disabled]="haveChoose" (click)="trahir()" value="TRAHIR" /> &nbsp;
    <input type="button" [disabled]="haveChoose" (click)="cooperer()" value="COOPERER" />
  </div>
  <br/>
  <hr/>
  <br/>
  <div>
    <label for="name">Pour quitter veuillez choisir une stratégie: </label>
    <input
      type="number"
      min="0"
      max="18"
      id="name"
      name="name"
      size="10"
      [(ngModel)]="id_strategy"
    />
    &nbsp;
    <input type="button" (click)="leaveGame()" value="QUITTER LA PARTIE" />
  </div>
</div>

<ng-template #elseBlock>
  <p>En attente de joueurs ....</p>
</ng-template>


</ng-template>
